Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ionut-mntn 
Colt
/
YelpCamp
Public
Code
Issues
12
Pull requests
7
Actions
Projects
Security
Insights
YelpCamp/views/campgrounds/index.ejs

Colt Steele basic styling changes
Latest commit 9d3a45d on Sep 19, 2020
 History
 0 contributors
37 lines (34 sloc)  1.27 KB

<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container">
<h1>All Campgrounds</h1>

<% for (let campground of campgrounds){%>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
            <%if(campground.images.length) {%>
            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
YelpCamp/index.ejs at 9d3a45dde998964baf9c25488f6107f3a2f9990b · Colt/YelpCamp